/* PC */
@media(min-width: 1024px){
    .mobile-menu{
        display:none;
    }
   
}

/* Tablet */
@media(min-width:740px) and (max-width:1024px){
    

    
}

/* mobile */
@media(max-width: 740px){
    #nav > li {
        display: block;
    }

    #headerid{
    /* height: auto; */
    overflow: hidden;
    }

    .searchbutton{
        display: none;
    }    


    
}